<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List - Ayush 3012</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <div class="today">
    <h4>
      <%=new Date().toLocaleString('en-IN', {day: 'numeric', weekday: 'long',
      month: 'long', year: 'numeric'})%>
    </h4>
  </div>
  <body>
    <main></main>
  </body>
</html>
