<div class="mainBody">
  <%- include("partials/header.ejs") %>
  <div class="todoList">
    <div class="list">
      <% if(locals.todoList) { %> <%todoList.forEach((todo)=> { %>
      <form action="/delete" method="post">
        <div class="listItem">
          <input
            type="checkbox"
            name="checkedTodo"
            class="checkBox"
            value="<%=todo._id%>"
            onchange="this.form.submit()"
          />
          <p class="lineThrough"><%=todo.name %></p>
        </div>
      </form>
      <%}) %> <% }%>
    </div>

    <div class="todoInput">
      <form action="/submit" method="post">
        <input type="text" name="todo" placeholder="Enter your todo" />
        <input type="submit" value="+" />
      </form>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</div>
